build/*.js
src/assets
static
public
dist
/node_modules
unpackage/*
uni_modules/*
server/*
.husky
.vscode
.cz-config.js
.browserslistrc
.eslintrc
.gitignore
.prettierignore
.prettierrc
babel.config
jsconfig.json
package-lock.json
package.json
README.md
vue.config.js